# Versão do Docker Compose que estamos usando
version: '3.8'

# A seção onde definimos todos os nossos containers (serviços)
services:

  # --- Serviço do Banco de Dados (PostgreSQL) ---
  db:
    image: postgres:14-alpine  # Usa uma imagem oficial e leve do PostgreSQL
    container_name: dashboard_db
    restart: always # Sempre reinicia o container se ele parar
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Bioquimica@1 # A mesma senha que usamos no server.js
      - POSTGRES_DB=postgres
    ports:
      # Mapeia a porta 5432 do container para a porta 5432 da sua máquina
      # para que você possa se conectar com o DBeaver se quiser.
      - "5432:5432"
    volumes:
      # Cria um "volume" chamado 'postgres_data' para persistir os dados do banco.
      # Isso garante que, mesmo que você destrua o container, seus dados não sejam perdidos.
      - postgres_data:/var/lib/postgresql/data
      # --- ADICIONE ESTA LINHA ---
      # Mapeia nossa pasta de inicialização para uma pasta especial dentro do container.
      # O PostgreSQL executa automaticamente qualquer .sql ou .sh encontrado aqui.
      - ./db_init:/docker-entrypoint-initdb.d

  # --- Serviço do Backend (Node.js API) ---
  backend:
    container_name: dashboard_backend
    # Instrui o Docker Compose a construir a imagem usando o Dockerfile especificado
    build:
      context: . # O contexto é a pasta atual (TECH_PLAYGROUND)
      dockerfile: backend.Dockerfile # O nome do nosso Dockerfile do backend
    restart: always
    ports:
      # Mapeia a porta 3001 do container para a porta 3001 da sua máquina
      - "3001:3001"
    depends_on:
      - db # Diz ao Docker para esperar o serviço 'db' estar pronto antes de iniciar o backend
    environment:
      # Variáveis de ambiente para o backend se conectar ao banco de dados
      # Usamos os nomes dos serviços do Docker Compose (ex: 'db') como host
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=Bioquimica@1
      - DB_NAME=postgres
      - DB_PORT=5432

  # --- Serviço do Frontend (React + Nginx) ---
  frontend:
    container_name: dashboard_frontend
    build:
      context: . # O contexto é a pasta atual
      dockerfile: frontend.Dockerfile # O nome do nosso Dockerfile do frontend
    restart: always
    ports:
      # Mapeia a porta 80 do container (Nginx) para a porta 8080 da sua máquina
      # Usamos 8080 para não dar conflito com outros serviços que possam usar a porta 80
      - "8080:80"
    depends_on:
      - backend # Espera o backend estar pronto antes de iniciar

# Define os volumes que serão gerenciados pelo Docker
volumes:
  postgres_data:
